params {
    fastq_path = "/Users/sabeen/SRR15402853.fastq" // Enter path of your own sample fastq file
    adapter = "AACGGAGG" // Enter adapter sequence on your sample file
    quality = 20 // Set quality threshold score
    gatk_path = "/Users/sabeen/NGS/gatk/gatk-4.1.9.0/gatk" // Enter path of gatk file
    bwa_path = "/Users/sabeen/development/bwa/bwa" // Enter bwa path 
    hg19_index_file = "/Users/sabeen/NGS/AZtestpipeline/hg19bwaidx" // Enter path for hg19 index file
    hg19Fa = "/Users/sabeen/NGS/AZtestpipeline/hg19.fa" // Enter path for hg19.fa file

}

mail {
    // Folowing configuration has been designed for gmail
    smtp.host = 'smtp.gmail.com'
    smtp.user = secrets.EMAIL_ADDRESS
	smtp.password = secrets.PASSWORD
    smtp.port = 587
    smtp.auth = true
    smtp.starttls.enable = true
    smtp.starttls.required = true
	smtp.ssl.protocols = 'TLSv1.2'
}